@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #ff8630;
  --green: #00ADB5;


  --white-secondary: #858B9F;
  --black-secondary: #1B2132;
  --obsidian: #252C41;
  
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-orange: var(--orange);
  --color-green: var(--green);
  --color-obsidian: var(--obsidian);
  --color-white-secondary: var(--white-secondary);
  --color-black-secondary: var(--black-secondary);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-rubik);
  }
}